.cartItems {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.cartPage {
  width: 100%;
}
.btn {
  cursor: pointer;
  border-radius: 22px;
  padding: 8px;
  border: 2px solid var(--text-color);
  background: none;
  color: var(--text-color);
}
.emptyCart {
  text-align: center;
  color: var(--text-color);
}
@media (max-width: 1280px) {
  .cartPage {
    padding: 0 15px;
  }
}
@media (max-width: 600px) {
  .total {
    font-size: 14px !important;
  }
}
